.style-switcher {
  position: fixed;
  top: 60px;
  right: 0;
  padding: 15px;
  width: 200px;
  border: 1px solid var(--bg-black-50);
  background: var(--bg-black-100);
  border-radius: 5px;
  z-index: 101;
  transition: all 0.3s ease;
  transform: translateX(100%);
}

.style-switcher.open {
  transform: translateX(-25px);
}

.style-switcher .s-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  text-align: Center;
  font-size: 20px;
  background: var(--bg-black-100);
  color: var(--text-black-900);
  right: 100%;
  margin: 25px;
  border: 1px solid var(--bg-black-50);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.style-switcher .s-icon i {
  line-height: 40px;
}

.style-switcher .style-switcher-toggler {
  top: 0;
}

.style-switcher .day-night {
  top: 55px;
}

.style-switcher h4 {
  margin: 0 0 10px;
  color: var(--text-black-700);
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}

.style-switcher .color {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.style-switcher .colors span {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/*====== color-1 ======*/
.style-switcher .color-1 {
  background: #ec1839;
}

/*====== color-2 ======*/
.style-switcher .color-2 {
  background: #fa5b0f;
}

/*====== color-3 ======*/
.style-switcher .color-3 {
  background: #37b182;
}

/*====== color-4 ======*/
.style-switcher .color-4 {
  background: #1854b4;
}

/*====== color-5 ======*/
.style-switcher .color-5 {
  background: #f021b2;
}
